/* início da formatação do header */ 
    * {
        padding: 0;
        margin: 0 auto;
    }

    @font-face {
        font-family:"GroovedPersonalUseRegular-9Y350";
        src: url("../fontes/GroovedPersonalUseRegular-9Y350.ttf");
    }

    header {
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 2%;
    }

    .logo {
        width: 50%;
        font-family:"GroovedPersonalUseRegular-9Y350";
        font-size: 1.5em;
    }

    .logo a {
        text-decoration: none;
    }

    #cor-span1 {
        color: rgb(250, 189, 76);
        text-shadow: 2px 2px black;
    }

    #cor-span2 {
        color: white;
        text-shadow: 2px 2px black;
    }

    .logo a:hover #cor-span1 {
        color: white;
    }

    .logo a:hover #cor-span2 {
        color: rgb(250, 189, 76);
    }

    .links {
        width: 40%;
    }

    .links select {
        margin-left: 45%;
        color: white;
        background-color: transparent;
        width: 25%;
        padding: 1.2%;
        border-color: white;
        font-weight: bold;
        font-size: 1em;
    }

    .links select option {
        color: white;
        background-color: lightgray;
        font-weight: bold;
    }

    .links button {
        margin-left: 7%;
    }
/* fim da formatação do header */ 

/* início da formatação da section-principal */ 
    body {
        background-image: url("../imagens/fundo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .section-principal {
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow: 1px 1px black;
        margin-top: 3%;
    }

    .section-principal h4 {
        margin-top: 12%;
    }

    .section-principal h5 {
        margin-top: 0.5%;
    }

    .div-display-input {
        width: 70%;
        margin-top: 2%;
    }
/* fim da formatação da section-principal */ 

/* início da formatação da section-carrossel */
    .section-carrossel {
        background-color: white;
        height: 100%;
        margin-top: 7%;
    }

    .titulo-carrossel {
        margin-left: 10%;
        margin-bottom: 3%;
    }

    .titulo-carrossel h2 {
        font-family:"GroovedPersonalUseRegular-9Y350";
        color: rgb(250, 189, 76);
        text-shadow: 1px 1px black;
        font-size: 2.5em;
    }

    #carrossel {
        width: 70%;
        height: 100%;
    }

    .item img {
        height: 100px;
    }

    .box-filme {
        height: 100%;
        width: 100%;
        display: flex;
    }
/* fim da formatação da section-carrossel */