/* início da formatação do header */ 
    * {
        padding: 0;
        margin: 0 auto;
    }

    @font-face {
        font-family:"GroovedPersonalUseRegular-9Y350";
        src: url("../fontes/GroovedPersonalUseRegular-9Y350.ttf");
    }

    header {
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 2%;
    }

    .logo {
        width: 50%;
        font-family:"GroovedPersonalUseRegular-9Y350";
        font-size: 1.5em;
    }

    .logo a {
        text-decoration: none;
    }

    #cor-span1 {
        color: rgb(250, 189, 76);
        text-shadow: 2px 2px black;
    }

    #cor-span2 {
        color: white;
        text-shadow: 2px 2px black;
    }

    .logo a:hover #cor-span1 {
        color: white;
    }

    .logo a:hover #cor-span2 {
        color: rgb(250, 189, 76);
    }

    .links {
        width: 40%;
    }

    .links select {
        margin-left: 45%;
        color: white;
        background-color: transparent;
        width: 25%;
        padding: 1.2%;
        border-color: white;
        font-weight: bold;
        font-size: 1em;
    }

    .links select option {
        color: white;
        background-color: lightgray;
        font-weight: bold;
    }

    .links button {
        margin-left: 7%;
    }
/* fim da formatação do header */ 

/* início da formatação do body */ 
    body {
        background-image: url("../imagens/fundo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
/* fim da formatação do body */ 
